
<%= form_for(@admin_article) do |f| %>
    <%= form_errors(@admin_article) %>

    <div class="main-form">
        <div class="form-group">
          <%= f.text_field :title, class:"form-control",placeholder:"请输入标题" %>
        </div>

        <section class="md-tools-bar">
          <div class="md-tools-group right">
            <span id="tool-preview" class="glyphicon glyphicon-eye-open"></span>
          </div>

        </section>

        <div class="form-group">
          <%= f.text_area :content,id:"preview_text",class:"form-control",placeholder:"支持Markdown语法" %>
        </div>
        <div id="side-preview"></div>


        <div class="form-group action">
          <%= link_to '取消', admin_articles_path,class:"btn btn-default cancle" %>
          <%= f.submit class:"btn btn-primary submit",id:"submit" %>
        </div>
    </div>
    <div class="related-form">
      <%= f.label "分类" %>
      <div class="category">
        <% @all_categories.each do |c| %>
            <%= ("&nbsp&nbsp"*c.level).html_safe %>
            <%= check_box_tag "admin_article[category_ids][]",c.id,@admin_article.categories.include?(c),{multiple:true} %><%= c.name %><br>
        <% end %>
      </div>
      <%= f.label "标签" %>
      <div class="tag">
        <input name="admin_article[tag_names]" class="tagsinput" data-role="tagsinput" value="<%= @admin_article.tags.map{|t| t.name}.join(',') %>" />
        <!-- <ul class="tag-ul">
            <% @admin_article.tags.each do |t| %>
              <li class="inactive">
                <%= text_field_tag "admin_article[tag_names][]",t.name %>
                <span class="glyphicon glyphicon-remove"></span>
              </li>

            <% end %>
          <li class="current_input_tag">
            <%= text_field_tag "admin_article[tag_names][]",nil %>
          </li>
        </ul> -->
      </div>
      

      <%= f.label "所属类型" %>
      <div class="type">
        <%= f.select :article_type_id,@all_article_types %>
      </div>
    </div>
<% end %>
