
<%= form_for(@admin_article) do |f| %>
    <%= form_errors(@admin_article) %>

    <div class="main-form">
        <div class="form-group">
          <%= f.text_field :title, class:"form-control",placeholder:"请输入标题" %>
        </div>
        <div class="form-group">
          <%= f.cktext_area :content, :ckeditor => {:uiColor => '#333333', :toolbar => 'medium',:height => 300} %>
        </div>
        <%= f.text_field :editor,value: 1,class:"sr-only" %>
        <div class="form-group action">
          <%= link_to '取消', admin_articles_path,class:"btn btn-default cancle" %>
          <%= f.submit class:"btn btn-primary submit",id:"submit" %>
        </div>
    </div>
    <div class="related-form">
      <%= f.label "分类" %>
      <div class="category form-group">
        <% @all_categories.each do |c| %>
          <label class="checkbox">
            <!-- <%= ("&nbsp&nbsp"*c.level).html_safe %> -->
            <%= check_box_tag "admin_article[category_ids][]",c.id,@admin_article.categories.include?(c),{multiple:true,'data-toggle' => "checkbox"} %><%= ">>"*c.level %><b><%= c.name %></b><br>
          </label>
        <% end %>
      </div>
      <%= f.label "标签" %>
      <div class="tag tagsinput-primary">
        <input name="admin_article[tag_names]" class="tagsinput" data-role="tagsinput" value="<%= @admin_article.tags.map{|t| t.name}.join(',') %>" />
        <!-- <ul class="tag-ul">
            <% @admin_article.tags.each do |t| %>
              <li class="inactive">
                <%= text_field_tag "admin_article[tag_names][]",t.name %>
                <span class="glyphicon glyphicon-remove"></span>
              </li>

            <% end %>
          <li class="current_input_tag">
            <%= text_field_tag "admin_article[tag_names][]",nil %>
          </li>
        </ul> -->
      </div>
      

      <%= f.label "所属类型" %>
      <div class="type">
        <%= f.select(:article_type_id,@all_article_types,{},{class:"form-control select select-primary"}) %>
      </div>
    </div>
<% end %>
