<div class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <span>
	  &copy;<%= "#{2015}-#{Time.new.year} Lisiur's Blog" %><br>
	  <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备15011725号</a>
	</span>
  </div>





  <div class="test sr-only">
  <%= @true_ip %><br>
  <%= @true_city %><br>
  <%= @true_weather %><br>
  <%= @debug_weather %><br>
</div>
</div>


