<!-- <div class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <span>
	  &copy;<%= "#{2015}-#{Time.new.year} Lisiur's Blog" %><br>
	  <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备15011725号</a>
	  </span>
  </div>





  <div class="test sr-only">
  <%= @true_ip %><br>
  <%= @true_city %><br>
  <%= @true_weather %><br>
  <%= @debug_weather %><br>
</div>
</div> -->


<div class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <span style="padding-top: 50px;">
        &copy;<%= "#{2015}-#{Time.new.year} Lisiur's Blog" %><br>
        </span>
		<div style="width:300px;margin:0 auto; ">
            <a href="http://www.miitbeian.gov.cn/" target="_blank" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;" >苏ICP备15011725号</a>
		</div>
        <% if request.domain=="daipeiwu.com" %>
		<div style="width:300px;margin:0 auto; ">
		 	<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32011502010132" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32011502010132号</p></a>
		</div>
        <% elsif request.domain=="lisiur.com" %>
		<div style="width:300px;margin:0 auto; ">
		 	<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=32011502010133" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">苏公网安备 32011502010133号</p></a>
		</div>
    <% end %>
      </div>
      <div class="col-md-6 col-sm-6">
          <ul class="bottom-menu-list">
              <li><a href="https://coding.net/u/daikanshan" target="_blanck">Coding</a></li>
              <li><a href="https://github.com/daikanshan" target="_blanck">Github</a></li>

              <li><a href="mailto:lisiurday@gmail.com">email</a></li>
              <li><a href="https://www.facebook.com/lisiur.day" target="_blanck">facebook</a></li>
              <li><a href="https://twitter.com/LisiurDay" target="_blanck">twitter</a></li>

              <li><a href="https://portal.shadowsocks.com/aff.php?aff=7502" target="_blanck">科学上网</a></li>
          </ul>
      </div>

      <div class="col-md-3 col-sm-3">
        <ul class="bottom-menu-iconic-list">
          <li><a href="https://www.facebook.com/lisiur.day" class="fui-facebook"></a></li>
          <li><a href="https://twitter.com/LisiurDay" class="fui-twitter"></a></li>
          <li><a href="https://github.com/daikanshan" class="fui-github"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /bottom-menu -->
		 
