<!-- <div class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <span>
	  &copy;<%= "#{2015}-#{Time.new.year} Lisiur's Blog" %><br>
	  <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备15011725号</a>
	  </span>
  </div>





  <div class="test sr-only">
  <%= @true_ip %><br>
  <%= @true_city %><br>
  <%= @true_weather %><br>
  <%= @debug_weather %><br>
</div>
</div> -->


<div class="bottom-menu bottom-menu-inverse">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <span style="padding-top: 50px;">
        &copy;<%= "#{2015}-#{Time.new.year} Lisiur's Blog" %><br>
        <a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备15011725号</a>
        </span>
      </div>
      <div class="col-md-6 col-sm-6">
          <!--
            <a href="https://coding.net/u/daikanshan">Coding</a>
            <a href="https://github.com/daikanshan">Github</a>
            <a href="http://blog.lisiur.com">Blog</a>

            <a href="mailto:lisiur@163.com">email</a>
            <a href="https://www.facebook.com/lisiur.day">facebook</a>
            <a href="https://twitter.com/LisiurDay">twitter</a>
          -->
      </div>

      <div class="col-md-3 col-sm-3">
        <ul class="bottom-menu-iconic-list">
          <li><a href="https://www.facebook.com/lisiur.day" class="fui-facebook"></a></li>
          <li><a href="https://twitter.com/LisiurDay" class="fui-twitter"></a></li>
          <li><a href="https://github.com/daikanshan" class="fui-github"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div> <!-- /bottom-menu -->
