<!DOCTYPE html>
<html>
<head>
  <title>管理员登录</title>
  <%= stylesheet_link_tag    'manage/session', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'manage/session', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="login_outer">
  <div class="login_panel">
    <div class="title">
      <span>管理员登录</span>
    </div>
    <div class="content">
      <%= form_tag manage_login_path,method: :post do %>
          <div class="form-item">
            <%= text_field_tag :name,'', class:"form-input" %>
          </div>
          <div class="form-item">
            <%= password_field_tag :password ,'', class:"form-input" %>
          </div>
          <div class="form-item">
            <%= submit_tag "登录",class:"form-submit" %>
          </div>
      <% end %>
      <div class="register">
        <%= link_to '忘记密码？','/' %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
