<%= form_for @admin_article_type,url:manage_article_type_path do |f| %>
    <%= form_errors(@admin_article_type) %>

    <div class="form-group">
      <%= f.text_field :name, class:"form-control",placeholder:"请输入类型名" %>
    </div>

    <div class="form-group">
      <%= f.text_field :glyphicon, class:"form-control",placeholder:"glyphicon" %>
    </div>
    <!--<div class="form-group">-->
      <!--<%= f.label :avatar %>-->
      <!--<%= image_tag(@admin_article_type.img_url(:thumb)) if @admin_article_type.img? %>-->
      <!--<%= f.file_field :img %>-->
      <!--<%= f.hidden_field :img_cache %>-->
    <!--</div>-->

    <div class="form-group action">
      <%= link_to '取消', manage_article_types_url,class:"btn btn-default cancle" %>
      <%= f.submit class:"btn btn-primary submit" %>
    </div>
<% end %>
