<div class="line"></div>
<% if !@all_articles.nil? %>
  <% @all_articles.each do |a| %>
      <section class="article">
        <div class="time-line">
          <div class="article-type">
            <span class="glyphicon glyphicon-<%= a.article_type.glyphicon %>"></span>
          </div>
          <div class="article-date">
            <%= DateTime.parse(a.created_at.to_s).strftime('%Y-%m-%d') %>
          </div>
          <div class="article-author">
            <%= link_to "/u/#{a.author.name}" do %>
            <%= image_tag(a.author.avatar_url(:thumb)) if a.author&&a.author.avatar? %>
            <span><%= a.author.name if a.author %></span>
            <% end %>
          </div>
        </div>
        <div class="article-main">
          <div class="article-title">
            <h1><%= link_to a.title,index_article_path(a.title) %></h1>
          </div>
          <div class="article-content">
            <%= a.abstract %>
          </div>
          <div class="article-footer">
            <div class="footer-item">
              <a href="<%= index_article_path(a.title)  %>">
                <i class="glyphicon glyphicon-eye-open"></i>
                <span><%= a.watch_count %><span>
              </a>
            </div>
            <div class="footer-item">
              <a href="<%= index_article_path(a.title)+"#comment" %>">
                <i class="glyphicon glyphicon-comment"></i>
                <span class="ds-thread-count" id="<%= "comment#{a.id}" %>">
                  <script type="text/javascript">
                  var duoshuoQuery = {short_name:"lisiur",id:<%= a.id %>};
                  (function() {
                    var url = "http://api.duoshuo.com/threads/counts.jsonp?short_name="+duoshuoQuery.short_name+"&threads="+duoshuoQuery.id+ "&callback=?"
                    $.getJSON(url,function(data){
                      comment_count = data.response["<%= a.id %>"].comments;
                      currentEleId = "#comment"+<%= a.id %>
                      $(currentEleId).append(comment_count);
                    });
                  })();
                  </script>
                </span>
              </a>
            </div>
          </div>
        </div>
      </section>
  <% end %>
<% else %>
  <%= render html:'<div class="not-found">未找到相关文章！</div>'.html_safe %>
<% end %>
<div class="pagination-wrap">
  <%= paginate @all_articles %>
</div>
