<div class="line"></div>

<section id="show-article" class="article">
  <div class="time-line">
    <div class="article-type">
      <!-- <span class="glyphicon glyphicon-<%= @article.article_type.glyphicon %>"></span> -->
      <img src="/assets/img/icons/<%= @article.article_type.glyphicon %>.svg">
    </div>
    <div class="article-date">
      <%= DateTime.parse(@article.created_at.to_s).strftime('%Y-%m-%d') %>
    </div>
    <div class="article-author">
      <%= link_to "/u/#{@article.author.name}" do %>
        <%= image_tag(@article.author.avatar_url(:thumb)) if @article.author&&@article.author.avatar? %>
        <span><%= @article.author.name if @article.author %></span>
      <% end %>
    </div>

  </div>
  <div class="article-main">
    <div class="article-title">
      <h1><%= @article.title %></h1>
    </div>
    <div class="article-content">
      <%= markdown @article.content %>
    </div>
  </div>
</section>
<a name="comment"></a>
<!-- 多说评论框 start -->
	<div class="ds-thread" data-thread-key="<%= @article.id %>" data-title="<%= @article.title %>" data-url="<%= index_article_path(@article.title) %>"></div> 
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript"> 
var duoshuoQuery = {short_name:"lisiur"}; 
	(function() { 
	 var ds = document.createElement('script'); 
		ds.type = 'text/javascript';ds.async = true; 
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js'; 
		ds.charset = 'UTF-8'; 
	 	(document.getElementsByTagName('head')[0]
	 	 || document.getElementsByTagName('body')[0]).appendChild(ds); 
	 })();
	</script> 
<!-- 多说公共JS代码 end -->
