<div class="line"></div>

<section id="show-article" class="article">
  <div class="time-line">
    <div class="article-type">
      <span class="glyphicon glyphicon-<%= @article.article_type.glyphicon %>"></span>
    </div>
    <div class="article-date">
      <%= DateTime.parse(@article.created_at.to_s).strftime('%Y-%m-%d') %>
    </div>
    <div class="article-author">
      <%= image_tag(@article.author.avatar_url(:thumb)) if @article.author&&@article.author.avatar? %>
      <span><%= @article.author.name if @article.author %></span>
    </div>

  </div>
  <div class="article-main">
    <div class="article-title">
      <h1><%= @article.title %></h1>
    </div>
    <div class="article-content">
      <%= markdown @article.content %>
    </div>
  </div>
</section>
