<% if @manage_author.id %>
<% url = manage_author_path %>
<% else %>
<% url = manage_authors_path %>
<% end %>
<%= form_for(@manage_author,as: :manage_author, url:url) do |f| %>
  <%= form_errors @manage_author %>


    <div class="form-group">
      <%= f.text_field :name, class:"form-control",placeholder:"请输入用户名" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password, class:"form-control",placeholder:"请输入密码" %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, class:"form-control",placeholder:"请确认密码" %>
    </div>

    <div class="form-group">
      <%= f.text_field :email, class:"form-control",placeholder:"请输入邮箱" %>
    </div>

    <div class="form-group action">
      <%= link_to '取消', manage_authors_path,class:"btn btn-default cancle" %>
      <%= f.submit class:"btn btn-primary submit" %>
    </div>
<% end %>
