<p id="notice"><%= notice %></p>

<h1>Listing Admin Archives</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_archives.each do |admin_archive| %>
      <tr>
        <td><%= link_to 'Show', admin_archive %></td>
        <td><%= link_to 'Edit', edit_admin_archive_path(admin_archive) %></td>
        <td><%= link_to 'Destroy', admin_archive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Archive', new_admin_archive_path %>
