<p id="notice"><%= notice %></p>

<h1>Listing Index Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @index_users.each do |index_user| %>
      <tr>
        <td><%= link_to 'Show', index_user %></td>
        <td><%= link_to 'Edit', edit_index_user_path(index_user) %></td>
        <td><%= link_to 'Destroy', index_user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_index_user_path %>
