<%= form_for @admin_category do |f| %>
  <%= form_errors(@admin_category) %>

    <div class="form-group">
      <%= f.text_field :name, class:"form-control",placeholder:"请输入分类名" %>
    </div>

    <div class="form-group">
      <%= f.select :supcategory_id,@all_categories,{include_blank: "选择父分类"} %>
    </div>

    <div class="form-group action">
      <%= link_to '取消', admin_categories_path,class:"btn btn-default cancle" %>
      <%= f.submit class:"btn btn-primary submit" %>
    </div>
<% end %>
