<!DOCTYPE html>
<html>
<head>
  <title>博客管理</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller]%>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <nav id="nav-top">
    <div id="logo">
      <%= link_to '/' do  %>
        <img src="/assets/logo.png"/>
      <% end %>
    </div>
    <div id="search">
      <form class="" role="search">
        <div class="">
          <input type="text" class="" placeholder="Search...">
        </div>
        <button type="submit" class="hidden">Submit</button>
      </form>
    </div>
    <div id="admin">
      <span><%= @login_author.name %></span>
    </div>

    <div id="menu-add">
      <a href=<%= new_admin_article_path %>>
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
    <div id="menu-message">
      <i class="glyphicon glyphicon-envelope"></i>
    </div>
    <div id="menu-login">
      <%= image_tag(@login_author.avatar_url(:thumb)) if @login_author.avatar? %>
      <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
    <div class="login_menu">
      <ul>
        <li>
          <%= link_to admin_articles_path do %>
            <i class="glyphicon glyphicon-th-large"></i>
            博文
          <% end %>
        </li>
        <li>
          <%= link_to admin_categories_path do %>
            <i class="glyphicon glyphicon-th-list"></i>
            分类
          <% end %>
        </li>
        <li>
          <%= link_to admin_tags_path do %>
            <i class="glyphicon glyphicon-tag"></i>
            标签
          <% end %>
        </li>
        <li>
          <%= link_to admin_archives_path do %>
            <i class="glyphicon glyphicon-list-alt"></i>
            归档
          <% end %>
        </li>
        <li>
          <%= link_to admin_authors_path do %>
            <i class="glyphicon glyphicon-user"></i>
            账户
          <% end %>
        </li>
        <li>
          <%= link_to admin_logout_path,method: :delete do %>
            <i class="glyphicon glyphicon-log-out"></i>
            退出
          <% end %>

        </li>
      </ul>
    </div>
  </nav>
</div>
<div id="side-nav">
  <nav id="nav-side">
    <ul class="">
      <% @navs.each do |nav| %>
          <li class=<%= is_current(nav[:args]) %>>
            <a href="<%= url_for nav[:options] %>" class="link">
              <i class="glyphicon glyphicon-<%= nav[:icon] %>"></i>
              <span><%= nav[:text] %></span>
            </a>
          </li>
      <% end %>
    </ul>
  </nav>

</div>
<div class="related-nav">
    <%= render "related/"+params[:controller] %>
</div>
<div id="bodyer">

  <div id="content">
    <%= yield %>
  </div>

</div>
<div id="footer"></div>
<%= javascript_include_tag 'admin' %>
<%= javascript_include_tag params[:controller] %>

</body>

</html>
