<!DOCTYPE html>
<html>
<head>
  <title>博客管理</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller]%>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <nav id="nav-top">
    <div id="logo">
      <img src="/assets/logo.png"/>
    </div>
    <div id="search">
      <form class="" role="search">
        <div class="">
          <input type="text" class="" placeholder="Search...">
        </div>
        <button type="submit" class="hidden">Submit</button>
      </form>
    </div>
    <div id="admin">
      <span>lisiur</span>
    </div>

    <div id="menu-add">
      <i class="glyphicon glyphicon-plus"></i>
    </div>
    <div id="menu-message">
      <i class="glyphicon glyphicon-envelope"></i>
    </div>
    <div id="menu-login">
      <img src="/assets/logo.png"/>
      <i class="glyphicon glyphicon-chevron-down"></i>
    </div>
  </nav>
</div>
<div id="side-nav">
  <nav id="nav-side">
    <ul class="">
      <% @navs.each do |nav| %>
          <li class=<%= is_current(nav[:args]) %>>
            <a href="<%= url_for nav[:options] %>" class="link">
              <i class="glyphicon glyphicon-<%= nav[:icon] %>"></i>
              <span><%= nav[:text] %></span>
            </a>
          </li>
      <% end %>
    </ul>
  </nav>

</div>
<div class="related-nav">
    <%= render "related/"+params[:controller] %>
</div>
<div id="bodyer">

  <div id="content">
    <%= yield %>
  </div>

</div>
<div id="footer"></div>


</body>
</html>
