<!DOCTYPE html>
<html>
<head>
  <title>Lisiur's Blog</title>
  <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller]%>

  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <nav id="nav-top">
    <div id="logo">
      <img src="/assets/logo.png"/>
    </div>
    <div id="search">
      <form class="" role="search">
        <div class="">
          <input type="text" class="" placeholder="Search...">
        </div>
        <button type="submit" class="hidden">Submit</button>
      </form>
    </div>
    <div id="admin">
      <% @all_article_types.each do |t| %>
          <%= link_to "/article-type/#{t.name}" do %>
            <span class="glyphicon glyphicon-<%= t.glyphicon %>"></span>
          <% end %>
      <% end %>

    </div>

    <div id="menu-login">
      <% if session[:author_id] %>
      <a href=<%= admin_path %>>
      <% else %>
      <a href=<%= admin_login_path %>>
      <% end %>
        <img src="/assets/logo.png"/>
      </a>
    </div>
  </nav>
</div>
<div id="bodyer">
    <%= yield %>
</div>
<div id="footer"></div>
<%= javascript_include_tag 'index' %>
<%= javascript_include_tag params[:controller] %>

</body>

</html>
