<!DOCTYPE html>
<html>
<head>
  <title>Lisiur's Blog</title>
  <%= stylesheet_link_tag    'index', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    params[:controller]%>
  <%= javascript_include_tag 'public' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="header">
  <nav id="nav-top">
    <div id="logo">
      <%= link_to '/' do %>
        <img src="/assets/logo.png"/>
      <% end %>
    </div>
    <div id="search">
      <%= form_tag '/search' do %>
        <div class="">
          <!-- <input type="text" class="" placeholder="Search..."> -->
          <%= text_field_tag :keywords ,nil,class:"", placeholder:"Search..." %>
        </div>
        <button type="submit" class="hidden">Submit</button>
      <% end %>
    </div>
    <div id="admin">
      <% @all_article_types.each do |t| %>
          <%= link_to "/article-type/#{t.name}" do %>
            <!-- <span class="glyphicon glyphicon-<%= t.glyphicon %>"></span> -->
            <img src="/assets/img/icons/<%= t.glyphicon %>.svg">
            <i class="glyphicon-name"><%= t.name %></i>
          <% end %>
      <% end %>

    </div>

    <div id="menu-login">
      <% if @login_author %>
        <%= link_to admin_path do %>
          <span class="glyphicon glyphicon-dashboard"></span>
        <% end %>
      <% else %>
        <%= link_to admin_login_path do %>
          <span class="glyphicon glyphicon-log-in"></span>
        <% end %>
      <% end %>

    </div>
  </nav>
</div>

<div id="bodyer">
  <div class="main" id="main">
    <%= yield %>
  </div>
  <div style="clear:both;"></div>
</div>

<div id="footer">
    <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=86 src="http://music.163.com/outchain/player?type=2&id=4132379&auto=1&height=66"></iframe>
  <%= render 'related/shared/footer' %>
</div>
<%= javascript_include_tag 'index' %>
<%= javascript_include_tag params[:controller] %>
<!--
<%= javascript_include_tag "season/#{session[:current_weather]}" %>
<script>
function rmweather(){
     dom = document.getElementById("WebGL-output");
     $(dom).fadeOut(5000);
}
var t = window.setTimeout(rmweather,3000);
</script>
-->
</body>

</html>
